.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;

  background-color: var(--foreground); 
  color: var(--background); 
  border-radius: 0.5rem;
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--background);
  color: var(--foreground);
  border-color: var(--foreground);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


@media (max-width: 768px) {
  .btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }
}
